@font-face {
  font-family: GraublauWeb;
  src: url('fonts/AkzidenzGrotesk-Black.otf') format("opentype");
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: Akzidenz Grotesk, 'sans-serif';
}

.placeholder {
  height: $header-height;

  @media (max-width: 768px) {
    height: $header-height - 20;
  }
}
