.container {
  max-width: $container;
  width: 100%;
  margin: 0 auto;

  &--blue {
    background-image: linear-gradient(to left, $blue-light , $blue-dark);
    @media (max-width: 768px) {
      padding: 10px 0 20px 0;
    }
  }

  &--gray {
    background: #f2f4fe;
    text-align: center;
  }
}