.grid {
  display: grid;
  grid-template-columns: 50% 50%;

  @media (max-width: 768px) {
    display: block;
    width: 100%; 
  }
  
  & > div:first-child  {
    padding-right: 15px;
  }

  & > div:last-child  {
    padding-left: 15px;
  }
  
  & > div {

    @media (max-width: 768px) {
      padding: 0 10px !important;
    }
  }

  &__box-top {
    background: #f4f5f9;
    padding: 35px;
    height: calc(100% - 5px);

    @media (max-width: 768px) {
      padding: 10px;
    }
  }
}