.header {
  height: $header-height;
  background-image: linear-gradient(to left, $blue-light , $blue-dark);
  position: fixed;
  width: 100%;
  z-index: 999;

  @media (max-width: 768px) {
    height: $header-height - 20;
  }

  &__inner {
    display: grid;
    grid-template-columns: 250px auto;
    align-items: center;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__logo {
    display: block;
    width: 247px;
    height: 36px;
    background: url("./img/logo.png") 100% 100% no-repeat;

    @media (max-width: 768px) {
      margin: 5px auto 5px auto;
    }
  }

  &__menu {
    text-align: right;

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &__link {
    display: inline-flex;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: $header-height;
    padding: 0 15px;
    text-decoration: none;
    position: relative;

    @media (max-width: 768px) {
      display: inline-block;
      font-size: 13px;
      line-height: 30px;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 4px;
      display: none;
      content: '';
      background: white;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.20);

      &:after {
        display: block;
      }
    }
  }
}