.head {


  &__1 {
    color: #002aeb;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    padding: 0;
    margin: 0;
  }

  &__2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    color: #002aeb;
    position: relative;

    &:after {
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 48px;
      height: 2px;
      background-color: #ff0000;
      content: '';
    }
  }

  &__3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    color: #ffffff;
    text-align: center;
    padding: 30px 0;
    margin: 0;
  }

  &__4 {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    padding: 15px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #4967f0;
  }

  &__5 {
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    color: #002aeb;
    text-align: center;
    padding: 0;
    margin: 50px 0;
  }

  &__6 {
    color: #002aeb;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    padding: 0;
    margin: 0 0 20px 0;
  }

  &__7 {
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    color: #002aeb;
    padding: 20px 0;
    margin: 40px 0 0 0;
    text-align: center;
    border-top: 1px solid #b2bff9;
    border-bottom: 1px solid #b2bff9;
  }

  &__8 {
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    text-align: center;
    color: #002aeb;
    padding: 40px 0;
    margin: 40px 0;
  }
}