.list {
  padding: 0;
  margin: 40px 0 20px 0;

  li {
    color: #000000;
    font-size: 17px;
    line-height: 26px;
    list-style-type: none;
    position: relative;
    padding: 0 0 0 20px;
    margin: 20px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      position: absolute;
      left: 0;
      top: 8px;
      width: 8px;
      height: 8px;
      background-color: #002aeb;
      content: ''; 
    }
  }

  &--white {
    padding: 0 0;

    li {
      margin: 5px 0;
      color: white;

      &:before {
        background: white;
      }
    }
  }
}