.text {

  &__1 {
    color: #000000;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    margin: 30px 0 0 0;
    padding: 0;
  }

  &__2 {
    color: #000000;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    padding: 0;
    margin: 0 0 20px 0;
  }
}