@import "component/variable";
@import "component/body";
@import "component/header";
@import "component/container";
@import "component/grid";
@import "component/head";
@import "component/text";
@import "component/list";
@import "component/footer";

.img-fluid {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}